<ion-view title="Ordering POS">
  <ion-content class="padding">
	<div ng-style="">
    <h1>Order!</h1>
	
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">Table</label>
			<div class="col-sm-2">
				<input class="input-control" type="email" ng-model="TableNum" placeholder="Enter the table #"/>
			</div>
		</div>
		
		<div class="form-group">
			<label for="SeatNumID" class="col-sm-2 control-label">Number of seats</label>
			<div class="col-sm-1">
				<select ng-model="NumSeats" class="form-control" ng-options="seat.SeatNum for seat in Seats"></select>
			</div>
		</div>
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="SelectItemID">Item Ordered</label>
			<div class="col-sm-3">
				<select class="form-control" ng-model="SelectedMenuItem" ng-options="item.name for item in Menu"></select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="SelectSeatID">Seat #</label>
			<div class="col-sm-1">
				<select id="SelectSeatID" class="form-control" ng-model="SeatNum" ng-options="seat.SeatNum for seat in Seats | limitTo: NumSeats.SeatNum"></select>
			</div>
		</div>
		
		<button class="btn btn-primary col-sm-offset-2 col-xs-offset-4" ng-click="AddItemToMenu(SelectedMenuItem, SeatNum)">Add To Order</button>
		
		<br />
		<br />
		
		<table class="table" ng-repeat="seat in OrderedItems">
			<thead>
				<tr>
					<th><b>Food Item</b></th>
					<th><b>Price</b></th>
					<th><b>Assigned Seat</b></th>
					<th><b>Total</b></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in seat.Items">
					<td>{{item.name}}</td>
					<td>{{item.price | currency:"$"}}</td>
					<td>{{seat.Seat}}</td>
					<td></td>
					<td>
						<button class="btn btn-small btn-danger" ng-hide="ProcessingPayment" ng-click="RemoveItem(seat, $index)">X</button>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Seat Total</td>
					<td ng-style="{'background-color': seat.BillBGColor}">{{seat.SeatBill | currency:"$"}}</td>
					<td>
						<div ng-if="!ProcessingPayment">
							<button class="btn btn-small btn-success">Cash</button>
							<button class="btn btn-small btn-primary" ng-click="PostOrder(seat)">Card</button>
						</div>
						<div ng-if="ProcessingPayment">
							<h3 class="text-danger">Use the terminal to complete your transaction.</h3>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<hr>
		<div class="col-sm-offset-7" ng-hide="OrderedItems.length == 0">
			<b>Total Bill  </b>{{TotalBill | currency:"$"}}
		</div>
	</div>
	
 </div>
  </ion-content>
</ion-view>
